{%extends 'base.html'%}
{% load bootstrap3 %}
{% load staticfiles %}
{% block content %}
{{block.super}}
<div class="container" style="margin-top:8rem;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form action="{% url 'new_post' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary btn-sm" value="POST">
            </form>
        </div>
    </div>
</div>

{% endblock %}